{% extends 'base.html' %}

<!-- META TITLE -->
{% block meta_title %}
    <title>{{ author }}'s posts{% if blog %} on {{ blog }}{% endif %} | Marchena</title>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
  {% if blog %}
    <li class="breadcrumb-item"><a href="{% url 'blog_list' %}">Blogs</a></li>
    <li class="breadcrumb-item">{{ blog.get_link }}</li>
    <li class="breadcrumb-item"><a href="{% url 'author_list' blog_slug=blog.slug %}">Authors</a></li>
  {% else %}
    <li class="breadcrumb-item"><a href="{% url 'author_list' %}">Authors</a></li>
  {% endif %}
    <li class="breadcrumb-item active">{{ author }}</li>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <h1>
      {{ author }}'s posts{% if blog %} on {{ blog }}{% endif %}
      <a class="btn btn-sm btn-warning d-inline" href="{{ author.get_feed_url }}">Feed</a>
    </h1>
    <hr>
    <ul class="list-unstyled">
  {% for post in post_list %}
      <li>{{ post.publish_from|date:'SHORT_DATE_FORMAT' }} | {{ post.get_link }}</li>
  {% endfor %}
    </ul>
{% endblock %}
