{% extends 'base.html' %}

<!-- META TITLE -->
{% block meta_title %}
{% if blog %}
<title>{{ blog.title }}'s authors | Marchena</title>
{% else %}
<title>Authors | Marchena</title>
{% endif %}
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
  {% if blog %}
    <li class="breadcrumb-item"><a href="{% url 'blog_list' %}">Blogs</a></li>
    <li class="breadcrumb-item">{{ blog.get_link }}</li>
  {% endif %}
    <li class="breadcrumb-item active">Authors</li>
{% endblock %}

<!-- CONTENT -->
{% block content %}
  {% if blog %}
    <h1>{{ blog.title }}'s authors</h1>
  {% else %}
    <h1>Authors</h1>
  {% endif %}
    <hr>
  {% for author in author_list %}
    <p>{{ author.get_link }}</p>
    <hr>
  {% endfor %}
{% endblock %}
