{% extends 'admin/change_form.html' %}

<!-- LOADING -->
{% load desk_urls i18n %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul>
            <li><a href="../../../">{% trans 'Home' %}</a></li>
            <li><a href="../../">{{ blog.title }}</a></li>
            <li>{% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}</li>
            <li>{% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:'18' }}{% endif %}</li>
        </ul>
    {% endif %}
{% endblock %}

<!-- OBJECT TOOLS -->
{% block object-tools %}
    {% if change %}
        {% if not is_popup %}
            <ul class="grp-object-tools">
                {% block object-tools-items %}
                    {% url opts|desk_urlname:'history' original.pk|desk_urlquote as history_url %}
                    <li><a href="{% add_preserved_filters history_url %}">{% trans "History" %}</a></li>
                    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="grp-state-focus" target="_blank">{% trans "View on site" %}</a></li>{% endif%}
                {% endblock %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
