{% extends 'admin/delete_confirmation.html' %}

<!-- LOADING -->
{% load i18n %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul class="grp-horizontal-list">
            <li><a href="../../../../">{% trans 'Home' %}</a></li>
            <li><a href="../../../">{{ blog.title }}</a></li>
            <li><a href="../../">{{ opts.verbose_name_plural|capfirst }}</a></li>
            <li><a href="../">{{ object|truncatewords:'18' }}</a></li>
            <li>{% trans 'Delete' %}</li>
        </ul>
    {% endif %}
{% endblock %}
