include LICENSE
include MANIFEST.in
include README.md
recursive-include tests *
recursive-include marchena/fixtures *
recursive-include marchena/locale *
recursive-include marchena/static *
recursive-include marchena/templates *
recursive-include marchena/modules/*/fixtures *
recursive-include marchena/modules/*/locale *
recursive-include marchena/modules/*/static *
recursive-include marchena/modules/*/templates *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
