{% extends 'base.html' %}

<!-- META TITLE -->
{% block meta_title %}
{% if blog %}
<title>{{ blog.title }}'s authors | Marchena</title>
{% else %}
<title>Authors | Marchena</title>
{% endif %}
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
  {% if blog %}
      <li><a href="{% url 'blog_list' %}">Blogs</a></li>
      <li>{{ blog.get_link }}</li>
  {% endif %}
      <li class="active">Authors</li>
    </ol>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="page-header">
  {% if blog %}
      <h1>{{ blog.title }}'s authors</h1>
  {% else %}
      <h1>Authors</h1>
  {% endif %}
    </div>
  {% for author in author_list %}
    <p>{{ author.get_link }}</p>
    <hr>
  {% endfor %}
{% endblock %}
