{% extends 'base.html' %}

<!-- META TITLE -->
{% block meta_title %}
<title>Blogs | Marchena</title>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Blogs</li>
    </ol>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="page-header">
      <h1>Blogs</h1>
    </div>
  {% for blog in blog_list %}
    <p>{{ blog.get_link }}</p>
    {% if blog.description %}
    <p>{{ blog.description }}</p>
    {% endif %}
    <hr>
  {% endfor %}
{% endblock %}
