{% extends 'marchena/post_list.html' %}

<!-- LOADING -->
{% load posts %}

<!-- META TITLE -->
{% block meta_title %}
    <title>{{ blog }} | Marchena</title>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="{% url 'blog_list' %}">Blogs</a></li>
      <li class="active">{{ blog }}</li>
    </ol>
{% endblock %}

<!-- TITLE -->
{% block title %}
    <div class="page-header">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <small><span class="glyphicon glyphicon-tasks"></span></small> Categories
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{% url 'category_list' blog_slug=blog.slug %}">View list</a></li>
          <li class="divider"></li>
      {% get_categories as category_list %}
      {% for category in category_list %}
          <li>{{ category.get_link }}</li>
      {% endfor %}
        </ul>
      </div>
      <h1>
        {{ blog }}
        <small><a href="{{ blog.get_feed_url }}"><span class="glyphicon glyphicon-bullhorn"></span></a></small>
      </h1>
    </div>
{% endblock %}
