{% extends 'base.html' %}

<!-- META TITLE -->
{% block meta_title %}
{% if blog %}
<title>{{ blog.title }}'s categories | Marchena</title>
{% else %}
<title>Categories | Marchena</title>
{% endif %}
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="{% url 'blog_list' %}">Blogs</a></li>
      <li>{{ blog.get_link }}</li>
      <li class="active">Categories</li>
    </ol>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="page-header">
      <h1>{{ blog.title }}'s categories</h1>
    </div>
  {% for category in category_list %}
    <p>{{ category.get_link }}</p>
    {% if category.description %}
    <p>{{ category.description }}</p>
    {% endif %}
    <hr>
  {% endfor %}
{% endblock %}
