{% extends 'marchena/post_list.html' %}

<!-- META TITLE -->
{% block meta_title %}
<title>Search “{{ query }}”{% if blog %} on {{ blog }}{% endif %} | Marchena</title>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
  {% if blog %}
      <li><a href="{% url 'blog_list' %}">Blogs</a></li>
      <li>{{ blog.get_link }}</li>
  {% endif %}
      <li class="active">Search “{{ query }}”</li>
    </ol>
{% endblock %}

<!-- CONTENT -->
{% block title %}
    <div class="page-header">
      <h1>Search “{{ query }}”{% if blog %} on {{ blog }}{% endif %}</h1>
    </div>
{% endblock %}
