{% extends 'base.html' %}

<!-- META TITLE -->
{% block meta_title %}
{% if blog %}
<title>{{ blog.title }}'s tags | Marchena</title>
{% else %}
<title>Tags | Marchena</title>
{% endif %}
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
  {% if blog %}
      <li><a href="{% url 'blog_list' %}">Blogs</a></li>
      <li>{{ blog.get_link }}</li>
  {% endif %}
      <li class="active">Tags</li>
    </ol>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="page-header">
  {% if blog %}
      <h1>{{ blog.title }}'s tags</h1>
  {% else %}
      <h1>Tags</h1>
  {% endif %}
    </div>
  {% for tag in tag_list %}
    <p>{{ tag.get_link }}</p>
    {% if tag.description %}
    <p>{{ tag.description }}</p>
    {% endif %}
    <hr>
  {% endfor %}
{% endblock %}
