{% extends 'base.html' %}

<!-- META TITLE -->
{% block meta_title %}
    <title>Archive | Marchena</title>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Archive</li>
{% endblock %}

<!-- CONTENT -->
{% block content %}
  {% block title %}
    <h1>Archive for {{ year|date:'Y' }}</h1>
  {% endblock %}
    <hr>
  {% for d in date_list %}
    {% ifchanged d.year d.month %}
      {% if not forloop.first %}
      </ul>
    </p>
    <hr>
      {% endif %}
    <p>
      <h3><a href="{% url 'archive_month' d.year d.month %}">{{ d|date:'F, Y' }}</a></h3>
      <ul class="list-unstyled">
    {% endifchanged %}
      <li><a href="{% url 'archive_day' d.year d.month d.day %}">{{ d|date:'d' }}</a></li>
    {% if forloop.last %}
      </ul>
    </p>
    <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
