{% extends 'base.html' %}

<!-- META TITLE -->
{% block meta_title %}
    <title>Archive | Marchena</title>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Archive</li>
{% endblock %}

<!-- CONTENT -->
{% block content %}
  {% block title %}
    <h1>Archive for {{ month|date:'F, Y' }}</h1>
  {% endblock %}
    <hr>
  {% for post in post_list %}
    {% with d=post.get_publish_date %}
      {% ifchanged d.year d.month d.day %}
        {% if not forloop.first %}
      </ul>
    </p>
    <hr>
        {% endif %}
    <p>
      <h3><a href="{% url 'archive_day' d.year d.month d.day %}">{{ d|date:'N d, Y' }}</a></h3>
      <ul class="list-unstyled">
      {% endifchanged %}
        <li>{{ post.get_link }}</li>
      {% if forloop.last %}
      </ul>
    </p>
    <hr>
      {% endif %}
    {% endwith %}
  {% endfor %}
{% endblock %}
