{% extends 'base.html' %}

<!-- META TITLE -->
{% block meta_title %}
    <title>Archive | Marchena</title>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"active">Archive</li>
{% endblock %}

<!-- CONTENT -->
{% block content %}
  {% block title %}
    <h1>Archive for {{ day|date:'N d, Y' }}</h1>
  {% endblock %}
    <hr>
    <p>
      <ul class="list-unstyled">
  {% for post in post_list %}
        <li>{{ post.get_link }}</li>
  {% endfor %}
      </ul>
    </p>
    <hr>
{% endblock %}
