{% extends 'base.html' %}

<!-- META TITLE -->
{% block meta_title %}
    <title>Archive | Marchena</title>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Archive</li>
    </ol>
{% endblock %}

<!-- CONTENT -->
{% block content %}
  {% block title %}
    <div class="page-header">
      <h1>Archive for {{ month|date:'F, Y' }}</h1>
    </div>
  {% endblock %}
    <article>
  {% for post in post_list %}
    {% with d=post.get_publish_date %}
      {% ifchanged d.year d.month d.day %}
        {% if not forloop.first %}
        </ul>
      </p>
      <hr>
        {% endif %}
      <p>
        <h2><a href="{% url 'archive_day' d.year d.month d.day %}">{{ d|date:'N d, Y' }}</a></h2>
        <ul class="list-unstyled">
      {% endifchanged %}
          <li>{{ post.get_link }}</li>
      {% if forloop.last %}
        </ul>
      </p>
      <hr>
      {% endif %}
    {% endwith %}
  {% endfor %}
    </article>
{% endblock %}
