{% extends 'base.html' %}

<!-- META TITLE -->
{% block meta_title %}
{% if blog %}
<title>{{ blog.title }}'s categories | Marchena</title>
{% else %}
<title>Categories | Marchena</title>
{% endif %}
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'blog_list' %}">Blogs</a></li>
    <li class="breadcrumb-item">{{ blog.get_link }}</li>
    <li class="breadcrumb-item active">Categories</li>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <h1>{{ blog.title }}'s categories</h1>
    <hr>
  {% for category in category_list %}
    <p>{{ category.get_link }}</p>
    {% if category.description %}
    <p>{{ category.description }}</p>
    {% endif %}
    <hr>
  {% endfor %}
{% endblock %}
