{% extends 'marchena/post_list.html' %}

<!-- META TITLE -->
{% block meta_title %}
    <title>{{ category }} on {{ blog }} | Marchena</title>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="{% url 'blog_list' %}">Blogs</a></li>
      <li>{{ blog.get_link }}</li>
      <li><a href="{% url 'category_list' blog_slug=blog.slug %}">Categories</a></li>
      <li class="active">{{ category }}</li>
    </ol>
{% endblock %}

<!-- TITLE -->
{% block title %}
    <div class="page-header">
      <h1>
        {{ category }} on {{ blog }}
        <small><a href="{{ category.get_feed_url }}"><span class="glyphicon glyphicon-bullhorn"></span></a></small>
      </h1>
    </div>
{% endblock %}
