{% extends 'posts/post_list.html' %}

<!-- META TITLE -->
{% block meta_title %}
    <title>{{ category }} on {{ blog }} | Marchena</title>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'blog_list' %}">Blogs</a></li>
    <li class="breadcrumb-item">{{ blog.get_link }}</li>
    <li class="breadcrumb-item"><a href="{% url 'category_list' blog_slug=blog.slug %}">Categories</a></li>
    <li class="breadcrumb-item active">{{ category }}</li>
{% endblock %}

<!-- TITLE -->
{% block title %}
    <h1>
      {{ category }} on {{ blog }}
      <a class="btn btn-sm btn-warning d-inline" href="{{ category.get_feed_url }}">Feed</a>
    </h1>
{% endblock %}
