{% extends 'posts/post_list.html' %}

<!-- META TITLE -->
{% block meta_title %}
<title>Search “{{ query.user_query }}”{% if blog %} on {{ blog }}{% endif %} | Marchena</title>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
  {% if blog %}
    <li class="breadcrumb-item"><a href="{% url 'blog_list' %}">Blogs</a></li>
    <li class="breadcrumb-item">{{ blog.get_link }}</li>
  {% endif %}
    <li class="breadcrumb-item active">Search “{{ query.user_query }}”</li>
{% endblock %}

<!-- CONTENT -->
{% block title %}
    <h1>Search “{{ query.user_query }}”{% if blog %} on {{ blog }}{% endif %}</h1>
{% endblock %}
