{% extends 'base.html' %}

<!-- LOADING -->
{% load comments %}
{% load posts %}

<!-- META TITLE -->
{% block meta_title %}
    <title>{{ post.get_meta_title }} | Marchena</title>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="{% url 'blog_list' %}">Blogs</a></li>
      <li>{{ blog.get_link }}</li>
      <li class="active">{{ post.title }}</li>
    </ol>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="page-header">
      <h1>
        {{ post.title }}
  {% if post.subtitle %}
        <small>{{ post.subtitle }}</small>
  {% endif %}
      </h1>
      <p><span class="glyphicon glyphicon-time"></span> Posted by {% post_authors ', ' ' and ' %} on {{ post.publish_from }}</p>
    </div>

    {{ post.get_content }}

    <hr>

  {% post_categories as categories %}
  {% if categories %}
    <p>Categories: {{ categories }}</p>
  {% else %}
    <p>No categories</p>
  {% endif %}
  {% post_tags as tags %}
  {% if tags %}
    <p>Tags: {{ tags }}</p>
  {% else %}
    <p>No tags</p>
  {% endif %}

    <hr>

    <ul class="pager">
      <li class="previous">{% previous_post_link '{link}' '&larr; Previous' %}</li>
      <li class="next">{% next_post_link '{link}' 'Next &rarr;' %}</li>
    </ul>

    {% post_comments %}

{% endblock %}
