{% extends 'base.html' %}

<!-- LOADING -->
{% load posts %}

<!-- META TITLE -->
{% block meta_title %}
    <title>Posts | Marchena</title>
{% endblock %}

<!-- HEADER SCRIPTS -->
{% block header_scripts %}
  <style>
    .btn-primary {
      margin-top: 5px;
    }
  </style>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Posts</li>
{% endblock %}

<!-- CONTENT -->
{% block content %}
  {% block title %}
    <h1>
      Posts
      <a class="btn btn-sm btn-warning d-inline" href="{% url 'post_feed' %}">Feed</a>
    </h1>
  {% endblock %}
    <hr>
  {% for post in post_list %}
    <article>
      <h3>{{ post.get_link }}</h3>
    {% post_authors ', ' ' and ' as authors %}
    {% if authors %}
      <p><small class="text-muted">Posted by {{ authors }} on {{ post.publish_from }}</small></p>
    {% else %}
      <p><small class="text-muted">Posted on {{ post.publish_from }}</small></p>
    {% endif %}
      {{ post.get_excerpt }}
      <p><small><a class="text-muted" href="{{ post.get_absolute_url }}">Read more...</a></small></p>
    </article>
    <hr>
  {% endfor %}
  {% if page_obj.has_previous %}
    <a href="{{ page_obj.previous_page.url }}" class="btn btn-primary pull-xs-left">&laquo; Newer Posts</a>
  {% else %}
    <span class="btn btn-primary pull-xs-left disabled">&laquo; Newer Posts</span>
  {% endif %}
  {% if page_obj.has_next %}
    <a href="{{ page_obj.next_page.url }}" class='btn btn-primary pull-xs-right'>Older Posts &raquo;</a>
  {% else %}
    <span class="btn btn-primary pull-xs-right disabled">Older Posts &raquo;</span>
  {% endif %}
{% endblock %}
