{% extends 'base.html' %}

<!-- LOADING -->
{% load comments %}
{% load posts %}

<!-- META TITLE -->
{% block meta_title %}
    <title>{{ post.get_meta_title }} | Marchena</title>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'blog_list' %}">Blogs</a></li>
    <li class="breadcrumb-item">{{ blog.get_link }}</li>
    <li class="breadcrumb-item active">{{ post.title }}</li>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <h1>
      {{ post.title }}
  {% if post.subtitle %}
      <small class="text-muted">{{ post.subtitle }}</small>
  {% endif %}
    </h1>
    <hr>
  {% post_authors ', ' ' and ' as authors %}
  {% if authors %}
    <p><small class="text-muted">Posted by {{ authors }} on {{ post.publish_from }}</small></p>
  {% else %}
    <p><small class="text-muted">Posted on {{ post.publish_from }}</small></p>
  {% endif %}

    {{ post.get_content }}

  {% post_categories as categories %}
  {% if categories %}
    <p><small class="text-muted">Categories: {{ categories }}</small></br>
  {% else %}
    <p><small class="text-muted">No categories</small></br>
  {% endif %}
  {% post_tags as tags %}
  {% if tags %}
    <small class="text-muted">Tags: {{ tags }}</small></p>
  {% else %}
    <small class="text-muted">No tags</small></p>
  {% endif %}

  {% get_previous_post %}
  {% get_next_post %}
    <hr>
  {% if previous_post %}
    <a class="card-link" href="{{ previous_post.get_absolute_url }}">
      <p class="text-xs-left">
        <span class="text-muted text-uppercase">Previous</span><br>
        <strong>{{ previous_post }}</strong>
      </p>
    </a>
    <hr>
  {% endif %}
  {% if next_post %}
    <a class="card-link" href="{{ next_post.get_absolute_url }}">
      <p class="text-xs-right">
        <span class="text-muted text-uppercase">Next</span><br>
        <strong>{{ next_post }}</strong>
      </p>
    </a>
    <hr>
  {% endif %}

  {% post_comments %}

  {% comment_form %}

{% endblock %}
