{% extends 'base.html' %}

<!-- META TITLE -->
{% block meta_title %}
{% if blog %}
<title>{{ blog.title }}'s tags | Marchena</title>
{% else %}
<title>Tags | Marchena</title>
{% endif %}
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
  {% if blog %}
    <li class="breadcrumb-item"><a href="{% url 'blog_list' %}">Blogs</a></li>
    <li class="breadcrumb-item">{{ blog.get_link }}</li>
  {% endif %}
    <li class="breadcrumb-item active">Tags</li>
{% endblock %}

<!-- CONTENT -->
{% block content %}
  {% if blog %}
    <h1>{{ blog.title }}'s tags</h1>
  {% else %}
    <h1>Tags</h1>
  {% endif %}
    <hr>
  {% for tag in tag_list %}
    <p>{{ tag.get_link }}</p>
    {% if tag.description %}
    <p>{{ tag.description }}</p>
    {% endif %}
    <hr>
  {% endfor %}
{% endblock %}
