
    <div class="card sidebar-card">
      <div class="card-block">
        <h4>Calendar</h4>
        <table id="calendar">
          <tr>
            <th colspan="7" class="calendar-month-name"><a href="{% url 'archive_month' year month %}">{{ month_name }}, {{ year }}</a></th>
          </tr>
          <tr>
  {% for abbr in day_abbreviations %}
            <th class="calendar-day-name">{{ abbr }}</th>
  {% endfor %}
          </tr>
  {% for week in month_calendar %}
          <tr>
    {% for day, post_list, archive_url in week %}
      {% if not day %}
            <td class="calendar-noday"></td>
      {% elif post_list %}
            <td class="calendar-day active"><a href="{{ archive_url }}"><strong>{{ day }}</strong></a></td>
      {% else %}
            <td class="calendar-day">{{ day }}</td>
      {% endif %}
    {% endfor %}
          </tr>
  {% endfor %}
        </table>
      </div>
    </div>
