{% extends "admin/change_list.html" %}

<!-- LOADING -->
{% load desk_urls i18n %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul class="grp-horizontal-list">
            <li><a href="../../">{% trans "Home" %}</a></li>
            <li><a href="../">{% trans app_label|capfirst|escape %}</a></li>
            <li>{{ cl.opts.verbose_name_plural|capfirst }}</li>
        </ul>
    {% endif %}
{% endblock %}

<!-- OBJECT-TOOLS-ITEMS -->
{% block object-tools-items %}
    {% url cl.opts|desk_urlname:'add' request.blog.slug as add_url %}
    <li><a href="{% add_preserved_filters add_url is_popup %}" class="grp-add-link grp-state-focus">{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a></li>
{% endblock %}
