{% extends 'base.html' %}

<!-- META TITLE -->
{% block meta_title %}
<title>Blogs | Marchena</title>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Blogs</li>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <h1>Blogs</h1>
    <hr>
  {% for blog in blog_list %}
    <p>{{ blog.get_link }}</p>
    {% if blog.description %}
    <p>{{ blog.description }}</p>
    {% endif %}
    <hr>
  {% endfor %}
{% endblock %}
