{% extends 'posts/post_list.html' %}

<!-- LOADING -->
{% load posts %}

<!-- META TITLE -->
{% block meta_title %}
    <title>{{ blog }} | Marchena</title>
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'blog_list' %}">Blogs</a></li>
    <li class="breadcrumb-item active">{{ blog }}</li>
{% endblock %}

<!-- TITLE -->
{% block title %}
    <div class="btn-group pull-xs-right">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="categories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
      </button>
      <ul class="dropdown-menu" aria-labelledby="categories">
        <li><a class="dropdown-item" href="{% url 'category_list' blog_slug=blog.slug %}">View list</a></li>
        <li class="dropdown-divider"></li>
  {% get_categories as category_list %}
  {% for category in category_list %}
        <li><a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category }}</a></li>
  {% endfor %}
      </ul>
    </div>
    <h1>
      {{ blog }}
      <a class="btn btn-sm btn-warning d-inline" href="{{ blog.get_feed_url }}">Feed</a>
    </h1>
{% endblock %}
